block about 
	section#about.about
		.container 
			.row
				.col-12
					h2.h2-title Обо мне
			.row.align-items-center
				.col-12.col-md-6
					#scene.scene
						.layer(data-depth="0.3")
							img.about-img.col-lg-12(src="img/about-friends.jpg", alt="Noutbook")
				.col-12.col-md-6 
					.about-text
						p.about-text__item Вот уже 1 год я занимаюсь весрткой и интеграцией сайтов на Wordpress, а так же посадкой на сервер. От небольших лендингов, до крупных интернет-магазинов.
						p.about-text__item Фриланс это не только моя основная и единственная работа - это мой образ жизни, который приносит мне искреннюю радость!
						p.about-text__item Каждый клиент, для меня становится настоящим другом, на время выполнения проекта, а зачастую и поддерживаем общение дальше.
						p.about-text__item На связи я практически круглосуточно, но звонки среди ночи не очень люблю :)
						a.btn.btn__text-about(href="#contacts") Связаться со мной