block advantages
	section#advantages.advantages 
		.container 
			.row
				.col-6.col-md-3.d-flex.align-items-center.indent
					img.advantege__img(src="img/icon-valid.png", alt="Валидная верстка")
					p.advantage__text Валидная верстка
				.col-6.col-md-3.d-flex.align-items-center.indent
					img.advantege__img(src="img/icon-feedback.png", alt="Быстрая обратная связь")
					p.advantage__text Быстрая обратная связь
				.col-6.col-md-3.d-flex.align-items-center.indent
					img.advantege__img(src="img/icon-discounts.png", alt="Скидки постоянным клиентам")
					p.advantage__text Скидки постоянным клиентам
				.col-6.col-md-3.d-flex.align-items-center.indent
					img.advantege__img(src="img/icon-guarantee.png", alt="Гарантия на верстку")
					p.advantage__text Гарантия на верстку