block footer 
	footer#footer.footer 
		.container
			.row
				.col-md-2
					a.logo(href="#header")
				.col-md-10.col-lg-7
					.nav-footer.d-md-flex.justify-content-md-end.justify-content-lg-center
						ul.nav-footer__list.d-md-flex
							li.nav-footer__item
								a.nav-footer__link(href="#header") Главная
							li.nav-footer__item 
								a.nav-footer__link(href="#about") Обо мне
							li.nav-footer__item 
								a.nav-footer__link(href="#portfolio") Портфолио
							li.nav-footer__item 
								a.nav-footer__link(href="#scheme") Схема работы
							li.nav-footer__item 
								a.nav-footer__link(href="#technology") Технологии
							li.nav-footer__item 
								a.nav-footer__link(href="#contacts") Контакты
				.col-3.d-none.d-lg-block
					.info-footer
						a.info-footer__tel(href="tel:+380505815234") +38 (050) 581-52-34
						a.info-footer__tel.info-footer__tel_no-img(href="tel:+380964725152") +38 (096) 472-51-52
						a.info-footer__mail(href="mailto:dav.front.end@gmail.com") dav.front.end@gmail.com
			.info-footer-social
				.row.align-items-center
					.col-md-4.col-lg-3.d-none.d-lg-block
						p.text-footer © 2022 Все права защищены
					.col-md-8.col-lg-9
						.contacts-footer__social.d-flex.justify-content-between.justify-content-md-start.justify-content-lg-end
							// noindex
							a.contacts-footer__link(href="https://www.instagram.com/doroshenko.bey"  target="_blank")
								img.contacts-footer__social-icon(src="img/icon-instagram.png", alt="Instagram Дорошенко Александр")
							// /noindex
							// noindex
							a.contacts-footer__link(href="https://t.me/Aleksandr_Doroshenko" target="_blank")
								img.contacts-footer__social-icon(src="img/icon-telegram.png", alt="Telegram Дорошенко Александр")
							// /noindex
							// noindex
							a.contacts-footer__link(href="https://wa.me/+380964725152" target="_blank")
								img.contacts-footer__social-icon(src="img/icon-whatsapp.png", alt="Whatsapp Дорошенко Александр")
							// /noindex
							// noindex
							a.contacts-footer__link(href="https://www.facebook.com/aleksandr.doroshenko.311/")
								img.contacts-footer__social-icon(src="img/icon-facebook.png", alt="Facebook Дорошенко Александр")
							// /noindex
							// noindex
							a.contacts-footer__link(href="viber://chat?number=%2B380505815234" target="_blank")
								img.contacts-footer__social-icon(src="img/icon-viber.png", alt="Viber Дорошенко Александр")
							// /noindex
							// noindex
							//- a.contacts-footer__link(href="#")
							//- 	img.contacts-footer__social-icon(src="img/icon-vk.png", alt="VK Дорошенко Александр")
							// /noindex
					.col-md-4.d-lg-none
						.info-footer
							a.info-footer__tel(href="tel:+380505815234") +38 (050) 581-52-34
							a.info-footer__tel.info-footer__tel_no-img(href="tel:+380964725152") +38 (096) 472-51-52
							a.info-footer__mail(href="mailto:dav.front.end@gmail.com") dav.front.end@gmail.com
				.row 
					.col-12.d-lg-none
						p.text-footer © 2022 Все права защищены