block head 
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Front-end DAV
		
		meta(name="theme-color" content="#17305B")
		meta(name="description", content="Front-end DAV – сайт front-end developer. Верстка сайтов с макетов psd, figma. Установка сайтов на wordpress")
		meta(name="keywords", content="front-end, верстка, кроссбаузерность, адаптив, верстальщик, разработка")

		//- Favicon
		link(rel="shortcut icon", href="img/favicon-dav.png", type="image/x-icon")
		link(rel="apple-touch-icon" href="img/favicon-dav-ati.png")

		//- OG Tags
		meta(property="og:title" content="Front-end DAV")
		meta(property="og:description" content="Front-end DAV – сайт front-end developer. Верстка сайтов с макетов psd, figma. Установка сайтов на wordpress")
		meta(property="og:type" content="article")
		meta(property="og:image" content="img/first-screen-dav.png")
		meta(property="og:site_name" content="Front-end DAV")

		//- Fonts
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Open+Sans&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet")

		//- Style
		link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
		link(rel="stylesheet", href="css/bootstrap.min.css")
		link(rel="stylesheet", href="css/style.css")