block portfolio 
	section#portfolio.portfolio 
		.container 
			.row
				.col-12
					h2.h2-title Портфолио
			.row 
				.col-12
					.slider-portfolio
						.slider-portfolio__item
							a(href="#") 
								img.slider-portfolio__img(src="img/portfolio-lambordgini.jpg", alt="portfolio-lambordgini")
						.slider-portfolio__item
							a(href="#") 
								img.slider-portfolio__img(src="img/portfolio-style.jpg", alt="portfolio-style")
						.slider-portfolio__item
							a(href="#") 
								img.slider-portfolio__img(src="img/potrfolio-dinner.jpg", alt="potrfolio-dinner")
						.slider-portfolio__item 
							a(href="#")
								img.slider-portfolio__img(src="img/portfolio-lambordgini.jpg", alt="portfolio-lambordgini")
			.row 
				.col-12
					a.btn.btn__text-portfolio(href="#contacts") Заказать верстку