block reviews 
	section#reviews.reviews 
		.container 
			.row
				.col-12
					h2.h2-title Отзывы
			.row 
				.col-12
					.slider-reviews
						.row.align-items-center
							.col-12.col-md-6
								.slider-reviews-texts
									p.slider-reviews-texts__text Заказывала у Александра верстку сайта.  Дизайн был очень сложный, важно было на всех платформах передать его максимально точно. Результат получится отличный, сайт кроссплатформенный, на всех устройствах отображается как нужно.
									p.slider-reviews-texts__text В процессе работы было много технических сложностей, Александр очень быстро и профессионально их решал, предлагал мне различные варианты.  Я доволена качеством и скоростью работы, быстротой ответа. Однозначно рекомендую и буду обращаться еще!
									.slider-reviews-texts__socials.d-flex 
										p.slider-reviews-texts__text.slider-reviews-texts__text_no-margin Людмила Аверина
										//- .slider-reviews-texts__social.d-flex
											//- a.slider-reviews-texts__link(href="#")
											//- 	img.slider-reviews-texts__social-icon(src="img/reviews-icon-fb.png", alt="Страница facebook Аверина")
											//- a.slider-reviews-texts__link(href="#")
											//- 	img.slider-reviews-texts__social-icon(src="img/reviews-icon-instagram.png", alt="Страница instagram Аверина")
							.col-12.col-md-6
								img.slider-reviews__photo.col-12(src="img/reviews-averina.jpg", alt="Людмила Аверина")
						.row.align-items-center
							.col-12.col-md-6
								.slider-reviews-texts
									p.slider-reviews-texts__text Рекомендую Александра как четкого, честного исполнителя разбирающегося во всех тонкостях и нюансах своего ремесла.
									p.slider-reviews-texts__text Александр всю работу сделал в оговоренные сроки да даже быстрее! Все поставленные задачи выполнил на 5+, надеюсь будем дальше сотрудничать с ним на постоянной основе. Александр Так держать!!!Спасибо!.
									.slider-reviews-texts__socials.d-flex 
										p.slider-reviews-texts__text.slider-reviews-texts__text_no-margin Герман Балацкий
										//- .slider-reviews-texts__social.d-flex
											//- a.slider-reviews-texts__link(href="#")
											//- 	img.slider-reviews-texts__social-icon(src="img/reviews-icon-fb.png", alt="Страница facebook Аверина")
											//- a.slider-reviews-texts__link(href="#")
											//- 	img.slider-reviews-texts__social-icon(src="img/reviews-icon-instagram.png", alt="Страница instagram Аверина")
							.col-12.col-md-6
								img.slider-reviews__photo.col-12(src="img/reviews-balackiy.jpg", alt="Герман Балацкий")
