block scheme 
	section#scheme.scheme 
		.container 
			.row
				.col-12
					h2.h2-title Схема работы
			.row.align-items-center
				.col-12.col-md-6.order-last.order-md-first
					ul.schemes__list
						li.schemes__item 
							p.schemes__text Сделать заявку на сайте или связаться со мной
						li.schemes__item 
							p.schemes__text Определяем объем работ
						li.schemes__item 
							p.schemes__text Предоплата 30% удобным для вас способом
						li.schemes__item 
							p.schemes__text Работа с дизайнером
						li.schemes__item 
							p.schemes__text Тестирование и сдача проекта
						li.schemes__item 
							p.schemes__text Оплата оставшейся части суммы за проект
				.col-12.col-md-6.order-first.order-md-last
					#scene2.scene2
						.layer(data-depth="0.3")
							img.schemes__img.col-12(src="img/scheme-image.jpg", alt="Схема работы")
			.row
				.col-12
					a.btn.btn__text-scheme(href="#contacts") Заказать верстку