block technology 
	section#technology.technology 
		.container 
			.row
				.col-12
					h2.h2-title Технологии
			.row.align-items-center
				.col-12.col-md-6
					#scene3.scene3
						.layer(data-depth="0.3")
							img.technologies__img.col-lg-12(src="img/technology-image.jpg", alt="Схема работы")
				.col-12.col-md-6
					ul.technologies__list
						li.technologies__item 
							p.technologies__text HTML5 (семантически грамотная верстка)
						li.technologies__item 
							p.technologies__text CSS3 (Scss)
						li.technologies__item 
							p.technologies__text JavaScript (jQuery)
						li.technologies__item 
							p.technologies__text WordPress